<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
   @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="~/imgs/logo-menor.png">
    <title>Jampa Safe</title>
</head>


<body id="body">
    <nav class="navbar navbar-expand-lg px-4">

        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="~/imgs/logo.png" width="150" height="70" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section-about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section-contact">Contact</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Pesquise por tipo..." id="search" aria-label="Search">
                    <button class="btn btn-outline-success" type="button" id="searchbtn" >Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div id="renderbody">
    @RenderBody()
     </div>
    <section id="section-contact" class="contact">
        <div class="contact-container d-flex justify-content-around align-items-center p-5 m-5">
            <div class="contact-us w-25">
                <h2 class="contato pb-3">Entre em contato com a gente!</h2>
                <p class="descrip pb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum fugiat fugit velit tempore nemo. Sint repellendus nihil maxime porro id, voluptates iure commodi at a quis eveniet dolores distinctio fuga.</p>
                <a href="https://wa.me/5583988324912?text=Te+amo+" class="linkzap">
                    <button type="button" class="zap-button btn btn-success d-flex align-items-center justify-content-around"><i class="fa-brands fa-whatsapp fs-5"></i> Entrar em contato</button>
                </a>
            </div>
            <div class="contact-icons">
                <p class="descrip pb-2"><span class="text-success"><i class="fa-sharp fa-solid fa-phone px-2"></i></span> (83) 99999-9999</p>
                <p class="descrip pb-2"><span class="text-success"><i class="fa-solid fa-location-dot px-2"></i></span> R. Fulano de Tal</p>
                <p class="descrip pb-2"><span class="text-success"><i class="fa-solid fa-envelope px-2"></i></span> jampasafe@cgu.gov.br</p>
            </div>
        </div>
    </section>
    </main>


    <footer>
        <div class="footer-container d-flex justify-content-center align-items-center flex-column text-center">
            <ul class="socials d-flex justify-content-center align-items-center pb-2">
                <li class="mx-3 scale"><a class="face" href="#"><i class="fa-brands fa-facebook fs-3"></i></a></li>
                <li class="mx-3 scale"><a class="insta" href="#"><i class="fa-brands fa-instagram fs-3"></i></a></li>
                <li class="mx-3 scale"><a class="twit" href="#"><i class="fa-brands fa-twitter fs-3"></i></a></li>
            </ul>
            <p class="text-white">© 2022 - Todos os direitos reservados</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/12bf9f7698.js" crossorigin="anonymous"></script>

    <script>


        $(function () {

            $("#relatobtn").on("click", async () => {
             await  $("#modal").load("/Relatos/Create");
                $("#modal").fadeIn();
            })

            $(".excluir").click( async(event) => {

                let ID = parseInt($(event.target).attr("data-cod"));
                if (confirm("Deseja mesmo excluir esse relato?")) {
                   await $.post("/Relatos/Delete",{id: ID})
                }
                window.Location.reload();
            })



            $(".alterar").click(async (event) => {
                var ID = parseInt($(event.target).attr("data-cod"))
                await $("#modal").load("/Relatos/Update", { id: ID }, (data) => {
                    $("#modal").html(data);
                }); //sempre quando for alguma ação que precise receber um dado, é melhor passarmos logo com post e nao load. load funciona melhhor com uma view ja pronta!
                $("#modal").fadeIn();
            })

               // $("#date").text($("#date").text().split("-").reverse().join("/"));

            $("#searchbtn").click(() => {

                if ($("#search").val().length == 0) {
                    window.location.reload();

                }
                else {

                    let value = $("#search").val();
                    $.post("/Relatos/Search", { tipo: value }, (data) => {
                        $("#cards").html(data)
                    });

                    $.post('Relatos/Cont', { tipo: value }, (data) => {
                        $("#cont").text(data + " Relato(s) correspondem")

                    }
                    );

                }

              });

     

            $("#ranking").click( async () => {

                await $("#modal").load("/Relatos/Ranking", (data) => {
                    $("#modal").html(data);
                })
                $("#modal").fadeIn();
            })


            $("#search").focus((event) => {
                event.preventDefault()
                $("#search").keyup((event) => {
                    event.preventDefault();
                    if (event.keyCode == 13) {
                        event.preventDefault();
                        if ($("#search").val().length == 0) {
                            window.location.reload();
                        }
                        else {

                            let value = $("#search").val();
                            $.post("/Relatos/Search", { tipo: value }, (data) => {
                                $("#cards").html(data)
                            });

                            $.post('/Relatos/Cont', { tipo: value }, (data) => {
                                $("#cont").text(data + " Relato(s) correspondem")

                            }
                            );

                        }

                    }

                })

            })

        })

    </script>
</body>
</html>